<div class="container-fluid">
  <h1>Login</h1>

  <input [(ngModel)]="username"
         placeholder="username"
         class="form-control"/>
  <input [(ngModel)]="password"
         placeholder="password"
         class="form-control"/>

  <label class="my-1 mr-2" for="userType">Role</label>
  <select class="custom-select my-1 mr-sm-2"
          [(ngModel)]="userType"
          id="userType">
    <option selected>User Role</option>
    <option value="1">Student</option>
    <option value="2">Admin</option>
  </select>

  <button (click)="login(username, password, userType)"
          class="btn btn-primary btn-block">
    Login
  </button>

  <a routerLink="/register">Register</a>
  <a routerLink="/home">Home</a>
</div>
