<div class="container-fluid">
  <h1>Register</h1>

  <input [(ngModel)]="username"
         placeholder="username"
         class="form-control"/>
  <input [(ngModel)]="password"
         placeholder="password"
         class="form-control"/>
  <input [(ngModel)]="password2"
         placeholder="verify password"
         class="form-control"/>

  <div class="form-group">
    <label for="type">Select User Type:</label>

    <select [(ngModel)]="userType"
            class="form-control" id="type">
      <option>Student</option>
      <option>Admin</option>
    </select>

  </div>

  <button (click)="register(username, password, password2, userType)"
          class="btn btn-primary btn-block">
    Register
  </button>

  <a routerLink="/login">Login</a>
  <a routerLink="/home">Home</a>

</div>
